<div class="text-center my-5">
	<h1><%= @user.first_name %></h1>
	<h4><%= @user.last_name %></h4>
	<h6><%= @user.description %></h6>

	<div class="d-flex justify-content-center my-4">
		<table class="table-striped table-sm table-hover text-left table-bordered">
			<tr>
				<td>Âge</td>
				<td><%= @user.age %></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><%= @user.email %></td>
			</tr>

			<tr>
				<td>Ville</td>
				<td><%= @user_city %></td>
			</tr>
		</table>
	</div>
		<p>Nombre de potins à son actif : <%= @gossips_count %> </p>
		<p class="d-flex justify-content-center text-left">
		<% if @gossips_count > 0 %>
		<% @user_gossips.each do |gossip| %>
		Potin n°<%= gossip.id %> : <%= gossip.title %>
		</br>
		<% end %>
		<% end %>
	</p>
			<%= link_to "Retour à l'accueil", root_path %>
</div>
